.table_border {
	BACKGROUND-COLOR: white;
	border: 1px solid #006699;


}
.table_border2 {
	border: 1px solid #305C98;

}

.Header{
	}
.PageHeaderTable {
	width: 100%;
	valign: center;
	}

.PageHeaderCell {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14;
	color: white;
	background-color: #4C99CC ;
	width: 100%;
	
	border-width:2;
	border: solid 1px;
	border-color: #001D75;
	}

.PageNavigator {
   	font-family: verdana;
   	color: darkgray;
	}

.PageSelector {
   	font-family: verdana;
   	color: #0A0A0A;
   	font-size: 9pt;
	}

.PageNavigatorLink {
   	font-family: verdana;
   	margin-left: 3px;
   	margin-right: 3px;
   	font-size: 9pt;
   	color: gray;
	}

.PageNavigatorLink A:hover {
   	font-family: verdana;
   	font-size: 9pt;
   	font-weight: bold;
   	color: #AA0202;
   	text-decoration: none;
	}

.PageNavigatorLink A {
   	font-family: verdana;
   	font-size: 9pt;
   	font-weight: bold;
   	color: #AA0202;
   	text-decoration: none;
	}

.FooterText{
	color: #000080;
	background-color: rgb(211,221,231);
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	}

.FooterPanel{
	color: #000080;
	background-color: rgb(211,221,231);
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	border-top: solid 2px;
	border-color: #AA0202;
	margin: 0;
	padding: 0;
	}

.MenuBar{
	}

.MenuBarItem{
	}

.ActiveMenubarItem{
	}

.menuitems
{
	padding-left:10px;
	padding-right:0px;
}

.skin0
{
	position:absolute;
	text-align:left;
	width:150px;
	border:1px solid black;
	font:Bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	cursor:default;
	visibility:hidden;
}
.skin1
{
	cursor:default;
	font:menutext;
	position:absolute;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font:Bold;
	font-size: 10pt;
	width:150px;
	border:1 solid buttonface;
	visibility:hidden;
	border:2 outset buttonhighlight;
}

.MenuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	clear: none;
	float: none;
	height: auto;
	width: auto;
	color: #000000;
	background-color: #D0DFF7;
	letter-spacing: normal;
	text-align: left;
	vertical-align: middle;
	word-spacing: normal;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-left:10px;
	padding-right:0px;
	}

.ActiveMenuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #AA0202;
	}

.PageCaption{
	}

.SectionCaption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background-color: #B1BBC5;
	color: #000080;
	}

.DataEntryForm {
	border-style: none;
	color:#FFFFFF;
	}

.FormCaption {
	font-weight: bold;
	text-align: center;
	}

.FieldContainer{
	}

.FieldCheckBox {
	border: none;
	background-color: transparent;
}

.FieldLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color:#001D75;
	background-color: transparent;
	text-align: right;
	font-weight: bold;
	padding: 5;
	}

.select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	background-color: white;
	color: #000000;
	border: solid 1px;
	border-color: #AA0202;
	border-width:0;
	}


.FieldText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	background-color: white;
	color: black;
	border-width:0;
	border: solid 1px;
	border-color: #001D75;
	}

.FieldListBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	background-color: white;
	color: #000000;
	}

.FieldRadio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	background-color: transparent;
	color: #000000;
	border-color: #AA0202;
	}

.FieldButton {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	color:WHITE;
	background-color: #4C99CC;
	FONT-FAMILY: Verdana, Arial, Helvetica, SansSerif;
	height: 20px;
	border: solid 1px;
	border-color: #001D75;
	margin-left: 5px;
        margin-right: 5px;
}


.FieldNumberRO {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	border-style: none;
	color: black;
	background-color: transparent;
	text-align: right;
	}

.FieldTextRO {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	border-style: none;
	color: black;
	background-color: transparent;
	text-align: left;
	}

.FieldTextROEven {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	border-style: none;
	color: black;
	background-color: rgb(211,221,231);
	}

.FieldTextROOdd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	border-style: none;
	color: black;
	background-color:rgb(240,243,247);
	}

.FieldListBoxRO {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: #000000;
	}

.FieldCheckBoxRO{
	border: none;
	background-color: transparent;
	}

.FieldRadioRO{
	}

.FieldButtonRO {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: black;
	}

.TabStrip{
   	color: white;
   	width: 100%;
}

.Tab {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11pt;
   font-weight: bold;
   color: #000000;
   text-decoration: none;
   border-bottom: 1px solid #AA0202;
}

.tabLeftEdge {
   background-image: url(tab-left-edge.png);
   background-repeat: none;
   width: 10px;
   height: 25px;
   border-bottom: 1px solid #AA0202;
}

.tabBody {
   background-image: url(tab-body.png);
   background-repeat: repeat-x;
   color: darkgray;
   font-family: verdana;
   font-size: 9pt;
   font-weight: bold;
   text-align: center;
   height: 25px;
   border-bottom: 1px solid #AA0202;
   white-space: nowrap;
}

.tabBody A {
   color: #505050;
   font-family: verdana;
   font-size: 9pt;
   font-weight: bold;
}

.tabBody A:hover {
   color: #505050;
   font-family: verdana;
   font-size: 9pt;
   font-weight: bold;
}

.tabRightEdge {
   background-image: url(tab-right-edge.png);
   background-repeat: none;
   width: 10px;
   height: 25px;
   border-bottom: 1px solid #AA0202;
}

.disabledTabBody {
   background-image: url(tab-body.png);
   background-repeat: repeat-x;
   color: gray;
   text-align: center;
   border-bottom: 1px solid #AA0202;
   white-space: nowrap;
   font-family: verdana;
   font-size: 9pt;
   font-weight: bold;
}

.currentTabLeftEdge {
   background-image: url(current-tab-left-edge.png);
   background-repeat: none;
   width: 10px;
   height: 25px;
}

.currentTabBody {
   background-image: url(current-tab-body.png);
   background-repeat: repeat-x;
   color: white;
   text-align: center;
   height: 25px;
   white-space: nowrap;
   font-family: verdana;
   font-size: 9pt;
   font-weight: bold;
}

.currentTabRightEdge {
   background-image: url(current-tab-right-edge.png);
   background-repeat: none;
   width: 10px;
   height: 25px;
}


.tabStripFiller {
   border-bottom: 1px solid #AA0202;
   width:2%;
}

.InfoList {
	background-color: transparent;
	border: solid 1px;
	border-color: white;
	width: 100%;
	padding: 0;
	margin: 0;
}

.InfoList td {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.InfoListHeader{
	background-color: #4C99CC;
	color: white;
	}

.InfoListEvenRow td {
	background-color:#D3EAF9;
	}

.InfoListOddRow td {
	background-color: rgb(240,243,247);
	}

.InfoListFooterCell {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AA0202;
	border: none 0px;
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
	}

.InfoListFooterRow td {
	border: none 0px;
	width: 100%;
	}

.InfoListFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: none 0px;
	text-align: right;
	width: 100%;
	}

.SelectListHeader{
	}

.SelectListEvenRow{
	}

.SelectListOddRow{
	}

.SelectListFooter{
	}

.FormBody {
	color:#000080;
	background-color: #D3DDE7;
	border: none 1px;
	border-color: #AA0202;
	width: 100%;
	padding: 0;
	margin: 3px;
}

.BodyTable {
	background-color: #D3DDE7;
	border: none 0px;
	border-color: white;
	width: 100%;
	padding: 0;
	margin: 0px;
}

.BodyTableHeaderRow th {
	background-color: transparent;
	color: #000080;
}

.BodyTableRow td {
	border: none 0px;
	border-color: #CCCCCC;
	background-color: transparent;
	background-image: none;
}

.BodyTableEvenRow td {
	background-color: transparent;
	background-image: none;
	}

.BodyTableOddRow td {
	background-color: rgb(240,243,247);
	background-image: none;
	}

.PageBody {
	background-color: #C1D9DB;
    margin: 1px;
	height: 100%;
}
.HeaderInfoTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border-style: none;
	color: #AA0202;
	background-color:rgb(240,243,247);
	width: 100%;
	}
.HeaderInfoRow {
	border-style: solid 1px;
	border-color: "#CCCCCC" ;
}
.HeaderInfoCell {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border-style: none;
	color: #AA0202;
	background-color:rgb(240,243,247);
	text-align: center;
	valign: center;
	}

.LegendText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #AA0202;
}

[mandatory]:before {
	content: "*";
	vertical-align: super;
	color: red;
	padding-right: 2px;
	font-weight: bold;
}

:focus {
   background-color: #F0F0C0;
}

.ErrorMsgTable {
	width: 100%;
	padding: 4;
	margin: 4px;
	}

.ErrorMsg {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #990033;
	width: 100%;
	}
	
.submitLink {
   color: #00f;
   background-color: transparent;
   text-decoration: underline;
   text-align: left;
   border: none;
   cursor: pointer;
   cursor: hand;
  }
 .FieldSubmitLink {
   color: white; FONT-SIZE: 11px; background-color: transparent; FONT-WEIGHT: bold; text-decoration: underline; 
   text-align: left; border: none; cursor: pointer; cursor: hand;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
 } 	
