div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	text-align:center;
	
}

span.export {
	padding: 0 4px 1px 20px;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
	background-repeat: no-repeat;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
	background-repeat: no-repeat;
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
	background-repeat: no-repeat;
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
	background-repeat: no-repeat;
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
	background-repeat: no-repeat;
}

th.sortable a {
	background-image: url(../images/arrow_off.png);
	background-repeat: no-repeat;
	text-align: left;
}

th.order1 a {
	background-image: url(../images/arrow_down.png);
	background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../images/arrow_up.png);
	background-repeat: no-repeat;
}

tr.odd {
    background:#F0F1F5;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	line-height:16px;
}

tr.tableRowEven,tr.even {
	background:#F0F1F5;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	line-height:16px;
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	text-align:center;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	display: block;
	border-top: none;
	margin-bottom: -5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
}
