.chromestyle {
	width: 100%;
	font-weight: bold;
}

.chromestyle:after {
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chromestyle ul {
	border: 1px solid #BBB;
	width: 100%;
	background: #4C99CC; //
	/*background: url(menu_bg.gif) center center repeat-x; */
	/*THEME CHANGE HERE*/
	padding: 4px 0;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li {
	display: inline;
}

.chromestyle ul li a {
	color: #001D75 ;  /*heading of menu home #2A7FFF */
	padding: 4px 7px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid white; /*THEME CHANGE HERE*/
}

.chromestyle ul li a:hover,.chromestyle ul li a.selected {
	/*script dynamically adds a class of "selected" to the current active menu item*/
	/*background: url(menu_bg.gif) center center repeat-x;*/
	background: #005AAA;
	color: white;
	/*THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv {
	position: absolute;
	top: 0;
	border: 1px solid #FFF9E7; /*THEME CHANGE HERE color:#DE5B03*/
	border-bottom-width: 0;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: #4C99CC;  /* #ee941d; #ee941d   */
	width: 200px;
	visibility: hidden;
	filter: progid :   DXImageTransform .   Microsoft . 
		 Shadow(color =   #CACACA, direction =   135, strength =   4);
	/*Add Shadow in IE. Remove if desired*/
}

.dropmenudiv a {
	width: 100%;
	display: block;
	text-indent: 3px;
	border: 1px solid #FFF9E7; /*THEME CHANGE HERE old color:#DE5B03  */
	padding: 2px 0;
	text-decoration: none;
	color: white;
}

.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	background-color: white; /*#A41D2A*/
	color: white;
	font-weight: bold;
}