.x_panel{padding:10px}.x_title{border-bottom:1px solid #e6e9ed;padding:0;margin-bottom:0}.x_content{padding:0;margin:0}.display-container .section-label{text-transform:uppercase}.display-container p{padding:0}.top_nav .dropdown-menu li.search-scope a{padding:3px 20px}